.el-drawer {
  --el-drawer-bg-color: #060606 !important;
  backdrop-filter: blur(7.5px);
  border-radius: 5px;
  box-shadow:none !important;
}

.el-drawer__body {
  padding: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.is-body-drawer {
  border-radius: 5px !important;
  top: 6.5% !important;
  height: 92vh !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}