.input-box {
  --el-input-focus-border-color: #E0B92C !important;
  --el-component-size: 26px !important;
  --el-input-text-color: #D9D9D9 !important;
  .el-input__wrapper {
    padding: 2px 8px !important;
  }
}
