.el-popover.el-popper {
  /* overflow: hidden; */
  --el-popover-padding: 0;
  --el-bg-color-overlay: #000;
  --el-popover-border-color: rgba(102, 102, 102, 0.5);
  --el-border-color-light: rgba(102, 102, 102, 0.5);
  min-width: 80px !important;
}

.v-popper--theme-tooltip .v-popper__inner {
  background-color: rgba(102, 102, 102, 0.5) !important;
  backdrop-filter: blur(8px);
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: rgba(102, 102, 102, 0.5) !important;
}
